
@import "macros.less";

.lined() {
	// border: 1px solid black;
}

html {
	height: 100%;
}

body {
	overflow: hidden;
	cursor: pointer;
	height: 100%;
}
.bg {
	position: fixed;
	
	background-attachment:fixed;
	background-clip:content-box;
	background-repeat:no-repeat;
	position: fixed;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .6;
	
	background: url(../bg.png) no-repeat center top fixed;
	background-clip: content-box;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@keyframes fadeInOut {
	0% { opacity: .4; }
	50% { opacity: .8; }
	100% { opacity: 1; }
}

@-webkit-keyframes fadeInOut {
	0% { opacity: .4; }
	50% { opacity: .8; }
	100% { opacity: 1; }
}

.info {
	position: fixed;
	bottom: 5px;
	padding: 10px;
	font: lighter 13px Lato;
}

#msg {
	font-weight: bold;
}

// @keyframes explode {
// 	0% { font-size: ; }
// 	50% { opacity: .8; }
// 	100% { opacity: 1; }
// }

// @-webkit-keyframes explode {
// 	0% { font-size: ; }
// 	50% { opacity: .8; }
// 	100% { opacity: 1; }
// }

.container {
	.lined();
	margin: 0;
	width: 100%;
	max-width: none;
	
	.row-fluid {
		
		#number-wrapper {
			.lined();
			position: relative;
			text-align: center;
			margin: auto;
			width: 90%;
			.user-select(none);

			#number {
				display: inline;
				.lined();
				cursor: default;
				top: 50%;
				position: relative;
				font: bold 200px Lato;
				text-shadow: 1px 2px 15px fadeout(black,60%);
			}
			#number.is {
				animation: fadeInOut .5s;
				-webkit-animation: fadeInOut .5s;
			}

		}
	}
}